/* flex布局 */
.u-f{
	display: flex;
}
.u-f-ac{
	display: flex;
	align-items: center;
}
.u-f-ajc{
	display: flex;
	align-items: center;
	justify-content: center;
}
.u-f-jsb{
	display: flex;
	align-items: center;
	justify-content: space-between;
}